# Q1. list

In [1]:
num_list = [1, 5, 7, 15, 16, 22, 28, 29]

def get_odd_num(num_list):
  return [x for x in num_list if (x % 2) == 1]


print(get_odd_num(num_list))

[1, 5, 7, 15, 29]

# Q2. string

In [2]:
sentence = 'way a is there will a is there Where'

def reverse_sencence(sentence):
  return ' '.join(list(reversed(sentence.split())))

print(reverse_sencence(sentence))

Where there is a will there is a way

# Q3. tuple & list

In [3]:
score = [(100, 100), (95, 90), (55,60), (75, 80), (70, 70)]

def get(score):
  for idx, (mid, final) in enumerate(score):
    print(f'{idx+1} 번, 평균 : {(mid+final)/2:.1f}')

get(score)

1 번, 평균 : 100.0
2 번, 평균 : 92.5
3 번, 평균 : 57.5
4 번, 평균 : 77.5
5 번, 평균 : 70.0

# Q4. dictionary

In [4]:
dict_first = {'사과': 30, '배': 15, '감': 10, '포도': 10}
dict_second = {'사과': 5, '감': 25, '배': 15, '귤': 25}

def merge_dict(dict_first, dict_second):
  dict_merge = dict_first.copy()

  for key, value in dict_second.items():
    if key in dict_first.keys():
      dict_merge[key] += value
    else:
      dict_merge[key] = value

  print(dict_merge)

merge_dict(dict_first, dict_second)

{'사과': 35, '배': 30, '감': 35, '포도': 10, '귤': 25}

# Q5. string

In [5]:
inputs = 'cat32dog16cow5'

def find_string(inputs):
  return ''.join([x if x < '0' or x > '9' else ' ' for x in inputs]).split()

string_list = find_string(inputs)

print(string_list)

['cat', 'dog', 'cow']