In [1]:
import pandas as pd
import numpy as np

from pandas import Series

### lambda

In [2]:
f = lambda x,y: x + y
f(1,4)

5

In [3]:
def f(x , y):
    return x + y

In [4]:
f = lambda x: x ** 2
f(3)

9

In [5]:
f = lambda x: x+5
f(3)

8

In [6]:
(lambda x: x +1)(5)

6

### map & replace

In [7]:
ex = [1,2,3,4,5]
f = lambda x: x ** 2
list(map(f, ex))

[1, 4, 9, 16, 25]

In [8]:
f = lambda x, y: x + y
list(map(f, ex, ex))

[2, 4, 6, 8, 10]

In [9]:
list(map(lambda x: x+5, ex)) 
#python 3에는 list를 꼭 붙여줘야함

[6, 7, 8, 9, 10]

In [10]:
s1 = Series(np.arange(10))
s1.head(5)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [11]:
s1.map(lambda x: x**2).head(5)

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [12]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [13]:
z = {1: 'A', 2: 'B', 3: 'C'}
s1.map(z)

0    NaN
1      A
2      B
3      C
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
dtype: object

In [14]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [15]:
s2 = Series(np.arange(10,20))
s1.map(s2)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [16]:
s2

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [17]:
!wget https://raw.githubusercontent.com/rstudio/Intro/master/data/wages.csv

--2023-02-13 13:26:07--  https://raw.githubusercontent.com/rstudio/Intro/master/data/wages.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 62250 (61K) [text/plain]
Saving to: ‘wages.csv.2’

wages.csv.2         100%[===================>]  60.79K  --.-KB/s    in 0.01s

2023-02-13 13:26:08 (4.19 MB/s) - ‘wages.csv.2’ saved [62250/62250]

In [18]:
df = pd.read_csv("./wages.csv")
df.head()

           earn  height     sex   race  ed  age
0  79571.299011   73.89    male  white  16   49
1  96396.988643   66.23  female  white  16   62
2  48710.666947   63.77  female  white  16   33
3  80478.096153   63.22  female  other  16   95
4  82089.345498   63.08  female  white  17   43

In [19]:
df.sex.unique()

array(['male', 'female'], dtype=object)

In [20]:
df["sex_code"] =  df.sex.map({"male":0, "female":1})
df.head(5)

           earn  height     sex   race  ed  age  sex_code
0  79571.299011   73.89    male  white  16   49         0
1  96396.988643   66.23  female  white  16   62         1
2  48710.666947   63.77  female  white  16   33         1
3  80478.096153   63.22  female  other  16   95         1
4  82089.345498   63.08  female  white  17   43         1

In [21]:
df.sex.replace({"male":0, "female":1}).head()

0    0
1    1
2    1
3    1
4    1
Name: sex, dtype: int64

In [22]:
df.sex.head(5)

0      male
1    female
2    female
3    female
4    female
Name: sex, dtype: object

In [23]:
df.sex.replace(["male", "female"], [0,1], inplace=True)

In [24]:
df

              earn  height  sex   race  ed  age  sex_code
0     79571.299011   73.89    0  white  16   49         0
1     96396.988643   66.23    1  white  16   62         1
2     48710.666947   63.77    1  white  16   33         1
3     80478.096153   63.22    1  other  16   95         1
4     82089.345498   63.08    1  white  17   43         1
...            ...     ...  ...    ...  ..  ...       ...
1374  30173.380363   71.68    0  white  12   33         0
1375  24853.519514   61.31    1  white  18   86         1
1376  13710.671312   63.64    1  white  12   37         1
1377  95426.014410   71.65    0  white  12   54         0
1378   9575.461857   68.22    0  white  12   31         0

[1379 rows x 7 columns]

In [25]:
del df["sex_code"]

In [26]:
df.head()

           earn  height  sex   race  ed  age
0  79571.299011   73.89    0  white  16   49
1  96396.988643   66.23    1  white  16   62
2  48710.666947   63.77    1  white  16   33
3  80478.096153   63.22    1  other  16   95
4  82089.345498   63.08    1  white  17   43

### apply & applymap

In [27]:
df = pd.read_csv("wages.csv")
df.head()

           earn  height     sex   race  ed  age
0  79571.299011   73.89    male  white  16   49
1  96396.988643   66.23  female  white  16   62
2  48710.666947   63.77  female  white  16   33
3  80478.096153   63.22  female  other  16   95
4  82089.345498   63.08  female  white  17   43

In [28]:
df_info = df[["earn", "height","age"]]
df_info.head()

           earn  height  age
0  79571.299011   73.89   49
1  96396.988643   66.23   62
2  48710.666947   63.77   33
3  80478.096153   63.22   95
4  82089.345498   63.08   43

In [29]:
f = lambda x : x.max() - x.min()
df_info.apply(f)

earn      318047.708444
height        19.870000
age           73.000000
dtype: float64

In [30]:
df_info.apply(sum)

earn      4.474344e+07
height    9.183125e+04
age       6.250800e+04
dtype: float64

In [31]:
df_info.sum()

earn      4.474344e+07
height    9.183125e+04
age       6.250800e+04
dtype: float64

In [32]:
def f(x):
    return Series([x.min(), x.max(), x.mean()], 
                    index=["min", "max", "mean"])
df_info.apply(f)

               earn    height        age
min      -98.580489  57.34000  22.000000
max   317949.127955  77.21000  95.000000
mean   32446.292622  66.59264  45.328499

In [33]:
f = lambda x : -x
df_info.applymap(f).head(5)

           earn  height  age
0 -79571.299011  -73.89  -49
1 -96396.988643  -66.23  -62
2 -48710.666947  -63.77  -33
3 -80478.096153  -63.22  -95
4 -82089.345498  -63.08  -43

In [34]:
f = lambda x : -x
df_info["earn"].apply(f).head(5)

0   -79571.299011
1   -96396.988643
2   -48710.666947
3   -80478.096153
4   -82089.345498
Name: earn, dtype: float64