# Copy By Reference

In [1]:
a = [5, 4, 3, 2, 1]

# copy by reference
b = a

a.sort()

print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [2]:
a = [5, 4, 3, 2, 1]

# copy by value
# 하지만, 1차원에서만 적용되고, 2차원 이상에서는 안됨
b = a[:]

a.sort()
print(a)
print(b)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [3]:
# 2차원 list에서 복사 시도

kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 60, 100]

midterm_score = [kor_score, math_score, eng_score]

print(midterm_score)

# 1차원 list에서 되었던 방식을 시도
midterm_copy = midterm_score[:]
midterm_score[0][3] = 50

print(midterm_score)
print(midterm_copy)

# 동일한 결과 출력

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]
[[49, 79, 20, 50, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]
[[49, 79, 20, 50, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [4]:
# 2차원 이상 list를 위한 복사 방법

kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 60, 100]

midterm_score = [kor_score, math_score, eng_score]

print(midterm_score)

# 새로운 방법
import copy

midterm_copy = copy.deepcopy(midterm_score)
midterm_score[0][3] = 50

print(midterm_score)
print(midterm_copy)

# 다른 결과 출력

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]
[[49, 79, 20, 50, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]
[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

# Packing / Unpacking

In [5]:
t = [1, 2, 3]

a, b, c = t

print(a, b, c)

1 2 3

# f-string

In [6]:
name = 'whatwant'
age = 48

print(f"Hello, {name}. You are {age}.")
print(f'name:20    - {name:20}')
print(f'name:>20   - {name:>20}')
print(f'name:*<20  - {name:*<20}')
print(f'name:*>20  - {name:*>20}')
print(f'name:*^20  - {name:*^20}')

number = 3.141592653589793
print(f'number:.2f - {number:.2f}') # 소숫점 2째자리

Hello, whatwant. You are 48.
name:20    - whatwant
name:>20   -             whatwant
name:*<20  - whatwant************
name:*>20  - ************whatwant
name:*^20  - ******whatwant******
number:.2f - 3.14

# all(), any()

In [7]:
boolean_list = [True, False, True, False, True]

all_value = all(boolean_list)
any_value = any(boolean_list)

print(f'all : {all_value}')
print(f'any : {any_value}')

all : False
any : True

# raw string

In [8]:
print(r'글씨를 쓰다가 \n 이걸 써도 줄이 안바뀐다')

글씨를 쓰다가 \n 이걸 써도 줄이 안바뀐다

# swap

In [9]:
def swap_value(x, y):
  temp = x
  x = y
  y = temp

ex = [1, 2, 3, 4, 5]

# 값을 전달했기 때문에 바뀌지 않는다
swap_value(ex[1], ex[2])

print(ex)

[1, 2, 3, 4, 5]

In [10]:
def swap_offset(offset_x, offset_y):
  temp = ex[offset_x]
  ex[offset_x] = ex[offset_y]
  ex[offset_y] = temp

ex = [1, 2, 3, 4, 5]

# 실제로 전역 변수 값을 직접 변경
swap_offset(1, 2)

print(ex)

[1, 3, 2, 4, 5]

In [11]:
def swap_reference(glist, offset_x, offset_y):
  temp = glist[offset_x]
  glist[offset_x] = glist[offset_y]
  glist[offset_y] = temp

ex = [1, 2, 3, 4, 5]

# 객체의 주소값을 받아서 값을 변경
swap_reference(ex, 1, 2)

print(ex)

[1, 3, 2, 4, 5]

In [12]:
def swap_reference_copy(list_ex, offset_x, offset_y):
  list_temp = list_ex[:]        # list를 복사해서 처리
  temp = list_temp[offset_x]
  list_temp[offset_x] = list_temp[offset_y]
  list_temp[offset_y] = temp

ex = [1, 2, 3, 4, 5]

# 전달한 list를 복사해서 처리하기에 값이 변하지 않음
swap_reference_copy(ex, 1, 2)

print(ex)

[1, 2, 3, 4, 5]

# function type hints

In [13]:
def type_hint_example(name: str) -> str:
  return f'Hellp, {name}'

type_hint_example('whatwant')

'Hellp, whatwant'

# docstring

In [14]:
def add_binary(a, b):
    '''
    Returns the sum of two decimal numbers in binary digits.

            Parameters:
                    a (int): A decimal integer
                    b (int): Another decimal integer

            Returns:
                    binary_sum (str): Binary string of the sum of a and b
    '''
    binary_sum = bin(a+b)[2:]
    return binary_sum

print(add_binary.__doc__)

    Returns the sum of two decimal numbers in binary digits.

            Parameters:
                    a (int): A decimal integer
                    b (int): Another decimal integer

            Returns:
                    binary_sum (str): Binary string of the sum of a and b

# tuple

In [15]:
t1 = (1)  # 정수로 인식
t2 = (1,) # 값이 하나인 tuple은 반드시 ","를 붙여야 함

print(f't1 = {t1}, type = {type(t1)}')
print(f't2 = {t2}, type = {type(t2)}')

t1 = 1, type = <class 'int'>
t2 = (1,), type = <class 'tuple'>

# set

In [16]:
s = set([3, 1, 2, 2, 3])   # s = {3, 1, 2, 2, 3}
print(s)                   # {1, 2, 3}

s.add(1)
print(s)                   # {1, 2, 3}

s.remove(1)
print(s)                   # {2, 3}

s.update([1, 4, 5, 6, 7])
print(s)                   # {1, 2, 3, 4, 5, 6, 7}

s.discard(3)
print(s)                   # {1, 2, 4, 5, 6, 7}

s.clear()
print(s)                   # set()

{1, 2, 3}
{1, 2, 3}
{2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
set()

In [17]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

s = s1.union(s2)
print(s)                # {1, 2, 3, 4, 5, 6, 7}

s = s1 | s2
print(s)                # {1, 2, 3, 4, 5, 6, 7}

s = s1.intersection(s2)
print(s)                # {3, 4, 5}

s = s1 & s2
print(s)                # {3, 4, 5}

s = s1.difference(s2)
print(s)                # {1, 2}

s = s1 - s2
print(s)                # {1, 2}

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}

# list comprehension

In [18]:
result = []
for i in range(10):
  result.append(i)

print(result)

result = [i for i in range(10)]

print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
case_1 = ['A', 'B', 'C']
case_2 = ['D', 'E', 'F']

result = [i+j for i in case_1 for j in case_2]

print(result)

['AD', 'AE', 'AF', 'BD', 'BE', 'BF', 'CD', 'CE', 'CF']

In [20]:
case_1 = ['A', 'B', 'C']
case_2 = ['D', 'E', 'F']

result = [[i+j for i in case_1] for j in case_2]

print(result)

[['AD', 'BD', 'CD'], ['AE', 'BE', 'CE'], ['AF', 'BF', 'CF']]

In [21]:
case_1 = ['A', 'B', 'C']
case_2 = ['D', 'E', 'F']

result = [[i+j for i in case_1 if i != 'A'] for j in case_2]

print(result)

[['BD', 'CD'], ['BE', 'CE'], ['BF', 'CF']]

In [22]:
data_list = [0, 1, 2, 3, 4, 5]

def f(x):
  return x ** 5

result = [f(value) for value in data_list]

print(f(2))
print(result)

32
[0, 1, 32, 243, 1024, 3125]

# zip

In [23]:
math = (100, 90, 80)
kor = (90, 90, 70)
eng = (90, 80, 70)

for value in zip(math, kor, eng):
  print(value)   # 열로 묶어줌

(100, 90, 90)
(90, 90, 80)
(80, 70, 70)

In [24]:
result = [sum(value) / 3 for value in zip(math, kor, eng)]

math_avg, kor_avg, eng_avg = result
print(f'{math_avg:.2f}, {kor_avg:.2f}, {eng_avg:.2f}')

93.33, 86.67, 73.33

# lambda function

In [25]:
def f(x, y):
    return x + y

print(f(1,4))

5

In [26]:
f = lambda x, y : x + y

print(f(1,4))

5

In [27]:
print( (lambda x, y : x + y)(1, 4) )

5

# map

In [28]:
ex = [1, 2, 3, 4, 5]

f = lambda x, y : x + y

print( list( map(f, ex, ex)))

[2, 4, 6, 8, 10]

In [29]:
result = list(
    map(
        lambda x : x ** 2 if x % 2 == 0
        else x,
        ex
    )
)

print(result)

[1, 4, 3, 16, 5]

In [30]:
f = lambda x : x ** 2 if x % 2 == 0 else x

result = list( map(f, ex))

print(result)

[1, 4, 3, 16, 5]

In [31]:
f = lambda x : x ** 2 if x % 2 == 0 else x

result = [f(value) for value in ex]

print(result)

[1, 4, 3, 16, 5]

In [32]:
result = [value ** 2 if value % 2 == 0 else value for value in ex]

print(result)

[1, 4, 3, 16, 5]

# iterable object

In [33]:
cities = ['Seoul', 'Busan', 'Jeju']

iter_obj = iter(cities)

print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))

Seoul
Busan
Jeju

# generator

In [34]:
def general_list(value):
  result = []
  for i in range(value):
    result.append(i)
  return result

result = general_list(5)

print(result)

import sys
size = sys.getsizeof(result)

print(size)

[0, 1, 2, 3, 4]
120

In [35]:
def generator_list(value):
  result = []
  for i in range(value):
    yield i

for value in generator_list(5):
  print(value)

size = sys.getsizeof(generator_list(5))

print(size)

0
1
2
3
4
112

# generator comprehension

In [36]:
gen_ex = (n*n for n in range(500))

print(type(gen_ex))

<class 'generator'>

# keyword arguments

In [37]:
def print_something(my_name, your_name):
  print(f'Hello {your_name}, My name is {my_name}')

print_something('whatwant', 'sally')
print_something(your_name='sally', my_name='whatwant')

Hello sally, My name is whatwant
Hello sally, My name is whatwant

# default arguments

In [38]:
def print_something(my_name, your_name='sally'):
  print(f'Hello {your_name}, My name is {my_name}')

print_something('whatwant')
print_something('whatwant', 'chani')

Hello sally, My name is whatwant
Hello chani, My name is whatwant

# variable-length parameters

In [39]:
def asterisk_test(a, b, *args):
  return a+b+sum(args)

print(asterisk_test(1, 2, 3, 4, 5))

15

In [40]:
def asterisk_test(*args):
  x, y, z = args
  return x, y, z

print(asterisk_test(1, 2, 3))

(1, 2, 3)

# keyword variable-length parameters

In [41]:
def kwargs_test_1(**kwargs):
  print(kwargs)

kwargs_test_1(first=1, second=2, third=3)

{'first': 1, 'second': 2, 'third': 3}

In [42]:
def kwargs_test_2(one, two=3, *args, **kwargs):
  print(one+two+sum(args))
  print(args)
  print(kwargs)

kwargs_test_2(one=10, first=3, second=4, third=5)

13
()
{'first': 3, 'second': 4, 'third': 5}

In [43]:
def kwargs_test_3(one, two=3, *args, **kwargs):
  print(one)
  print(two)
  print(args)
  print(kwargs)

kwargs_test_3(10, 30, 3, 4, 5, 6, first=3, second=4, third=5)

10
30
(3, 4, 5, 6)
{'first': 3, 'second': 4, 'third': 5}

# asterisk - unpacking a container

In [44]:
def asterisk_test(a, *args):  # *를 만나면 unpacking이 된다.
  print(a, args)
  print(type(args))

asterisk_test(1, *(2, 3, 4, 5, 6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [45]:
def asterisk_test(a, args):
  print(a, *args)
  print(type(args))

asterisk_test(1, (2, 3, 4, 5, 6))

1 2 3 4 5 6
<class 'tuple'>

In [46]:
print([1, 2, 3, 4])
print(*[1, 2, 3, 4])

[1, 2, 3, 4]
1 2 3 4

In [47]:
a, b, *c = (14, 21, 25, 39, 46, 57)

print(c)

[25, 39, 46, 57]

# casting

In [48]:
a = 10
float(a)

print(type(a))

<class 'int'>

# print format

In [49]:
name = 'Apple'
price = 5600
number = 7

print('{2}, {1}, {0}'.format(number, name, price))

5600, Apple, 7

# string slice

In [50]:
test_list = [0, 1, 2, 3, 4, 5]

print(test_list[1::2])
print(test_list[1:2])

[1, 3, 5]
[1]

In [51]:
test_list = ['치킨', '피자', '삼겹살', '족발', '초밥', '소주']

for data in test_list[::2]:
  if len(data) == 3:
    print(data)

삼겹살

In [52]:
test_list = [0, 1, 2, 3, 4, 5]

for data in test_list[::2]:
  print(data)

0
2
4

# function, local variable

In [53]:
def print_greedings(t):
  t = 'Hello.'
  print('In Fn :', t)

x = 'Hi.'

print_greedings(x)
print('Out Fn :', x)

In Fn : Hello.
Out Fn : Hi.

# string replace

In [54]:
string = '#You #Only #Live #Once'

print(string.replace('#', ''))

You Only Live Once